<h1>Welcome to simutrans collaborative</h1>
<p>More to come here later</p>

<h1>User management</h1>
<% if current_user %>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Register", new_user_path %> |
  <%= link_to "Login", login_path %>
<% end %>
