<!DOCTYPE HTML>
<html>
  <head>
    <title>Simutrans collaborative -- BETA</title>
  </head>
  <body>
    <div id="header">
      <h1>Simutrans Collaborative</h1>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
